<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length" />
  </ng-template>

  <ng-template #end>
    <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="users.value() || []"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['email', 'first_name', 'last_name', 'role']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedUsers"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Manage Products</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th style="min-width: 16rem">id</th>
      <th pSortableColumn="email" style="min-width: 8rem">
        email
        <p-sortIcon field="email" />
      </th>
      <th pSortableColumn="first_name" style="min-width:10rem">
        first_name
        <p-sortIcon field="first_name" />
      </th>
      <th pSortableColumn="last_name" style="min-width: 12rem">
        last_name
        <p-sortIcon field="last_name" />
      </th>
      <th pSortableColumn="role" style="min-width: 12rem">
        role
        <p-sortIcon field="role" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>
  <ng-template #body let-user>
    <tr>
      <td style="width: 3rem">
        <p-tableCheckbox [value]="user" />
      </td>
      <td style="min-width: 12rem">{{ user.id }}</td>
      <td style="min-width: 16rem">{{ user.email }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.role }}</td>
      <td>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editUser(user)" />
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteUser(user)" />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true">
  <ng-template #content>
    <div class="flex flex-col gap-6">
      <div>
        <label for="email" class="block font-bold mb-3">email</label>
        <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus fluid />
        <small class="text-red-500" *ngIf="submitted && !user.email">email is required.</small>
      </div>
      <div>
        <label for="first_name" class="block font-bold mb-3">first_name</label>
        <input type="text" pInputText id="first_name" [(ngModel)]="user.first_name" required autofocus fluid />
        <small class="text-red-500" *ngIf="submitted && !user.first_name">first_name is required.</small>
      </div>
      <div>
        <label for="last_name" class="block font-bold mb-3">last_name</label>
        <input type="text" pInputText id="last_name" [(ngModel)]="user.last_name" required autofocus fluid />
        <small class="text-red-500" *ngIf="submitted && !user.last_name">last_name is required.</small>
      </div>

      <div>
        <label for="role" class="block font-bold mb-3">Role</label>
        <p-select [(ngModel)]="user.role" inputId="role" [options]="roles" optionLabel="label" optionValue="label" placeholder="Select a Status" fluid />
      </div>

    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveUser()" />
  </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
